@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
}

body {
    background-image: linear-gradient(to bottom, #FFC991, #E79160);
    background-attachment: fixed;
}

main {
    background-color: #C4D1CA;
    width: 700px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px #bc774e;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #D9A443;
    text-shadow: 1px 1px 2px #a87f33c6;
}

h2 {
    color: #65725a;
}

p {
    text-align: justify;
}